<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone Tello</title>
</head>
<body>
    <h1>Comandi drone</h1>
    <table> 
        <tr>
            <td><button onclick="istruzioni.push('takeOff')" type="button">takeOff</button></td>
            <td><button onclick="istruzioni.push('forward')" type="button">forward</button></td>
            <td><button onclick="istruzioni.push('backward')" type="button">backward</button></td>
            <td><button onclick="istruzioni.push('up')" type="button">up</button></td>
            <td><button onclick="istruzioni.push('down')" type="button">down</button></td>
            <td><button onclick="istruzioni.push('left')" type="button">left</button></td>
            <td><button onclick="istruzioni.push('right')" type="button">right</button></td>
            <td><button onclick="istruzioni.push('land')" type="button">land</button></td>
            <td><button onclick="istruzioni.push('rotateRight')" type="button">rotateright</button></td>
            <td><button onclick="istruzioni.push('rotateLeft')" type="button">rotateleft</button></td>
            <td><button onclick="Esegui()" type="button">Esegui istruzioni</button></td>
        </tr> 
        <tr></tr>
        <tr>
            <td><button onclick="EseguiPriority('takeOff')" type="button">takeOff</button></td>
            <td><button onclick="EseguiPriority('forward')" type="button">forward</button></td>
            <td><button onclick="EseguiPriority('backward')" type="button">backward</button></td>
            <td><button onclick="EseguiPriority('up')" type="button">up</button></td>
            <td><button onclick="EseguiPriority('down')" type="button">down</button></td>
            <td><button onclick="EseguiPriority('left')" type="button">left</button></td>
            <td><button onclick="EseguiPriority('right')" type="button">right</button></td>
            <td><button onclick="EseguiPriority('land')" type="button">land</button></td>
            <td><button onclick="EseguiPriority('rotateRight')" type="button">rotateright</button></td>
            <td><button onclick="EseguiPriority('rotateLeft')" type="button">rotateleft</button></td>
        </tr>
    </table>
    
    
    
    

    <script src="js/app.js"></script>
</body>
</html>