<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />


    <div class="border border-info col-12 container">
      <div class="row"> <!--to center: justify-content-center-->

          <!--Streaming-->
          <div class="w-75 h-75 border border-info fill">
            <img src="/stream" class=" img-fluid rounded float-left" alt="...">
          </div>

          <!--Comandi immediati-->
          <div class="w-25 border border-danger"> 

            <div class="row">
              
            </div>
            <div class="border border-success col-12 container"> <!--Controlli quando spazio si prendono le freccie-->

              <!--Freccia su-->
              <div class="row justify-content-center"> 
                  <div class="w-10 h-10 arrow fill">
                    <img src="img/arrowU.png" class=" img-fluid rounded float-left" alt="...">
                  </div>
              </div>

              <!--Freccia destra, sinistra-->
              <div class="row"> 
                <div class="w-10 h-10 arrow fill">
                  <img src="img/arrowL.png" class=" img-fluid rounded" alt="...">
                </div>
                <div class="w-10 h-10 arrow ml-auto fill "> <!--float-right non funziona in flexbox ma ml-auto ti porta allo stesso effetto-->
                  <img src="img/arrowR.png" class=" img-fluid rounded" alt="...">
                </div>
              </div>

              <!--Freccia giu-->
              <div class="row justify-content-center"> 
                <div class="w-10 h-10 arrow fill">
                  <img src="img/arrowD.png" class=" img-fluid rounded float-left" alt="...">
                </div>
              </div>
            
          </div>

          <div class="w-25 h-10"></div> <!--Spazio tra i due set di freccie-->

          <div class="border border-success col-12 container"> <!--Controlli quando spazio si prendono le freccie-->

            <!--Freccia su-->
            <div class="row justify-content-center"> 
                <div class="w-10 h-10 arrow fill">
                  <img src="img/arrowU.png" class=" img-fluid rounded float-left" alt="...">
                </div>
            </div>

            <!--Freccia ruota destra, ruota sinistra-->
            <div class="row"> 
              <div class="w-10 h-10 arrow fill">
                <img src="img/arrowRL.png" class=" img-fluid rounded" alt="...">
              </div>
              <div class="w-10 h-10 arrow ml-auto fill "> <!--float-right non funziona in flexbox ma ml-auto ti porta allo stesso effetto-->
                <img src="img/arrowRR.png" class=" img-fluid rounded" alt="...">
              </div>
            </div>

            <!--Freccia giu-->
            <div class="row justify-content-center"> 
              <div class="w-10 h-10 arrow fill">
                <img src="img/arrowD.png" class=" img-fluid rounded float-left" alt="...">
              </div>
            </div>
          
        </div>
      </div>

      <div class="row">

        <div class="h-25 w-100 border border-danger">Column</div>
      </div>
    </div>

</body>
</html>