

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone Tello</title>
</head>
<body>
    <h1>Comandi drone<br></h1>
    <h2>Comandi "Programmati"</h2>
    <table> 
        
        <tr>
            <td><button onclick="istruzioni.push('takeOff'); log.innerHTML += 'Takes Off; ' " type="button">takeOff</button></td>
            <td><button onclick="istruzioni.push('forward'); log.innerHTML += 'Goes Foward; '" type="button">forward</button></td>
            <td><button onclick="istruzioni.push('backward'); log.innerHTML += 'Goes Back; '" type="button">backward</button></td>
            <td><button onclick="istruzioni.push('up'); log.innerHTML += 'Goes Up; '" type="button">up</button></td>
            <td><button onclick="istruzioni.push('down'); log.innerHTML += 'Goes Down; '" type="button">down</button></td>
            <td><button onclick="istruzioni.push('left'); log.innerHTML += 'Goes Left; '" type="button">left</button></td>
            <td><button onclick="istruzioni.push('right'); log.innerHTML += 'Goes Right; '" type="button">right</button></td>
            <td><button onclick="istruzioni.push('land'); log.innerHTML += 'Lands; '" type="button">land</button></td>
            <td><button onclick="istruzioni.push('rotateRight'); log.innerHTML += 'Rotates Right; '" type="button">rotateright</button></td>
            
            <td><button onclick="istruzioni.push('rotateLeft'); log.innerHTML += 'Rotates Left; '" type="button">rotateleft</button></td>
            <td><button onclick="Esegui()" type="button">Esegui istruzioni</button></td>
        </tr> 
    </table>

    <h2>Comandi Immediati</h2>
    <table> 
        
        <tr>
            <td><button onclick="EseguiPriority('takeOff')" type="button">takeOff</button></td>
            <td><button onclick="EseguiPriority('forward')" type="button">forward</button></td>
            <td><button onclick="EseguiPriority('backward')" type="button">backward</button></td>
            <td><button onclick="EseguiPriority('up')" type="button">up</button></td>
            <td><button onclick="EseguiPriority('down')" type="button">down</button></td>
            <td><button onclick="EseguiPriority('left')" type="button">left</button></td>
            <td><button onclick="EseguiPriority('right')" type="button">right</button></td>
            <td><button onclick="EseguiPriority('land')" type="button">land</button></td>
            <td><button onclick="EseguiPriority('rotateRight')" type="button">rotateright</button></td>
            <td><button onclick="EseguiPriority('rotateLeft')" type="button">rotateleft</button></td>
        </tr>
    </table>
    
    
    <div>
        <h3>Log Comandi Programmati da eseguire</h3>
    </div>
    <div id="log"></div>

    <script src="js/app.js"></script>
</body>
</html>